
.banner{
  width: 100%;
  .swiper-container{
    width: 100%;
    height: 650px;
  }
  .swiper-lazy{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: @picBgColor;
    // background-size: 100%;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active{
    background-color: #fff;
  }
}