<div class="cover">
  <div class="container">
    <a href="#" class="bd">
      <div class="J_Lazy title"
      data-original="{{staticPrefix}}/img/demo/title.png">
      <!-- <span class="text">title</span> -->
      </div>
      <div class="mask"></div>
      <div class="J_Lazy pic"
      data-original="{{staticPrefix}}/img/demo/pic.jpg"></div>
    </a>
  </div>
</div>

<div class="cover">
  <div class="container">
    <a href="#" class="bd">
      <div class="J_Lazy title">
      <table class="text">
            <tbody>
                  <tr>
                        <td class="webfont">标题</td>
                  </tr>
            </tbody>
      </table>
      </div>
      <div class="mask"></div>
      <div class="J_Lazy pic"
      data-original="{{staticPrefix}}/img/demo/pic.jpg"></div>
    </a>
  </div>
</div>