<div class="video">
  <div class="container">
    <div class="hd">
      <embed src="http://player.youku.com/player.php/Type/Folder/Fid/27198547/Ob/1/sid/XMTU2MDIxMjQ2OA==/v.swf" quality="high" width="1000" height="600" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
    </div>
    <div class="bd">
      <div class="title">4GridFilms大影四格《锲而不舍 为爱加冕》婚礼MV</div>
      <div class="content">
        <!-- <div class="pic">
          <img src="{{staticPrefix}}/img/demo/pic.jpg" alt="">
        </div> -->
        <div class="text">
          这里是一些文字介绍<br/>
          这里是一些文字介绍这里是一些文字介绍<br/>
          这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍<br/>
          这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍<br/>
          这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍这里是一些文字介绍<br/>
        </div>
      </div>
    </div>
  </div>
</div>