
{%if !!video && !!video.video_url%}
<div class="video">
  <div class="container">
    <div class="hd">
      <iframe height=563 width="100%"
      src="{{video.video_url}}" frameborder=0></iframe>
    </div>
    <div class="bd">
      {%if !!video.title%}
      <div class="title">{{video.title}}</div>
      {%endif%}

      <div class="content">
      {%if !!video.description_url%}
        <div class="pic">
          <img src="{{video.description_url}}?imageView2/2/w/1040" alt="">
        </div>
      {%elseif !!video.description%}
        <div class="text">{{video.description}}</div>
      {%endif%}
      </div>
    </div>
  </div>
</div>
{%endif%}