
{%extends './layout/index.html'%}

{%block content%}
<div class="about">
  <div class="container">
    <div class="J_Lazy bd"
    data-original="{{staticPrefix}}/img/demo/pic.jpg">
      <div class="mask"></div>
      <a href="#" target="_blank"></a>
    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="J_Lazy bd"
    data-original="{{staticPrefix}}/img/demo/pic.jpg">
    <div class="mask"></div>
      <!-- <a href="#" target="_blank"></a> -->
    </div>
  </div>
</div>
{%endblock%}