
{%extends './layout/index.html'%}

{%block content%}
{%if banners.length > 0%}
<div class="banner">
  <div class="container">
    <div id="J_Swiper" class="swiper-container">
      <div class="swiper-wrapper">
        {%for banner in banners%}
          <div class="swiper-slide">
          <div
          class="swiper-lazy"
          data-background="{{banner.cover_url}}?imageView2/2/w/1040/h/650">
          {%if banner.url%}
          <a href="{{banner.url}}" target="_blank"></a>
          {%endif%}
          </div>
          </div>
        {%endfor%}
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
{%endif%}

{%include './components/cover.html'%}
{%endblock%}