
{%extends './layout/index.html'%}

{%block content%}
<div class="banner">
  <div class="container">
    <div id="J_Swiper" class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
          <div
          class="swiper-lazy"
          data-background="{{staticPrefix}}/img/demo/pic.jpg">
          <a href="/" target="_blank"></a>
          </div>
          </div>
          <div class="swiper-slide">
          <div
          class="swiper-lazy"
          data-background="{{staticPrefix}}/img/demo/pic-2.jpg"></div>
          </div>
          <div class="swiper-slide">
          <div
          class="swiper-lazy"
          data-background="{{staticPrefix}}/img/demo/pic.jpg"></div>
          </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

{%include './components/cover.html'%}
{%endblock%}