
.cover{
  +.cover{
    margin-top: 20px;
  }
  a.bd{
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
    &:hover{
      .mask{
        opacity: 0;
      }
    }
  }
  .pic{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: @picBgColor;
  }
  .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: #000;
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  .title{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-position: center;
    background-repeat: no-repeat;
    .text{
      width: 100%;
      height: 100%;
      td{
        font-size: 48px;
        text-align: center;
        color: #fff;
        .textShadow();
      }
    }
  }
}