
@import url('./logo.less');
@import url('./menus.less');

.header{
  width: 100%;
  .logo;
  .menus;
}

.mobile-header{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  .mobile-menus;
}

@media screen and (max-width: 414px) {
    .header{
      display: none;
    }
    .mobile-header{
      display: block;
    }
  }