
@import url('../../components/utils.less');

.menus() {
  .menus{
    float: right;
    margin-top: 9%;
    .clearfix;
    .menu-li{
      position: relative;
      display: inline-block;
      margin-right: 15px;
      padding-bottom: 10px;
      .bd{
        display: block;
        overflow: hidden;
        padding: 8px 14px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        color: #000;
        .textShadow;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.3s;
        &.active, &:hover{
          background-color: rgba(0,0,0,0.1);
        }
      }

      .sub-menu{
        display: none;
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 99;
        padding: 10px 0;
        min-width: 100%;
        border-radius: 5px;
        background-color: #333;
        .textShadow;
        &:before{
          content: "";
          position: absolute;
          top: -6px;
          left: 50%;
          margin-left: -6px;
          width: 12px;
          height: 12px;
          background-color: #333;
          transform: rotate(45deg);
        }
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
        }
        .sub-bd{
          display: block;
          padding: 10px;
          text-align: center;
          color: #fff;
          text-decoration: none;
          box-shadow: 0 0 12px 0 rgba(0,0,0,0) inset;
          transition: box-shadow 0.3s;
          &:hover{
            box-shadow: 0 0 12px 0 rgba(0,0,0,0.3) inset;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .menus{
      float: none;
      margin-top: 0;
      text-align: center;
      .menu-li{
        margin-right: 0;
        .bd{
          padding: 8px;
        }
      }
    }
  }
  @media screen and (max-width: 435px) {
    .menus{
      display: none;
    }
  }
}

.mobile-menus() {
  .mobile-menus{
    position: relative;
    .hd{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      width: 100%;
      background-color: #333;
      border-bottom: 1px solid #000;
      .clearfix;
    }
    .logo{
      box-sizing: border-box;
      float: left;
      height: 50px;
      padding: 15px;
      line-height: 20px;
      color: #999;
    }
    .menus-toggle{
      float: right;
      margin: 8px 15px 8px 0;
      padding: 9px 10px;
      border: 1px solid #444;
      border-radius: 4px;
      .bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        +.bar{
          margin-top: 4px;
        }
      }
    }
    .menus{
      position: absolute;
      top: -999px;
      left: 0;
      right: 0;
      z-index: 99;
      width: 100%;
      padding: 7.5px 0;
      background-color: #333;
      border-top: 1px solid #444;
      border-bottom: 1px solid #000;
      opacity: 0;
      transition: opacity 0.3s, top 0.3s;
      .menu-li{
        .bd{
          display: block;
          padding: 10px 15px;
          color: #999;
          text-decoration: none;
          text-align: center;
        }
        .sub-menu{
          display: none;
          ul{
            margin: 0;
            padding: 0;
            list-style: none;
            .sub-bd{
              display: block;
              padding: 10px 15px;
              background-color: #222;
              color: #999;
              text-decoration: none;
              text-align: center;
            }
          }
        }
      }
    }
    &.show{
      .menus-toggle{
        background-color: #444;
      }
      .menus{
        top: 51px;
        opacity: 1;
      }
    }
  }
}