<div class="footer">
  <div class="copyright">COPYRIGHT &copy; 2016 Vincent Jam Photography & Video</div>
  <div class="contact">
    <div class="J_HasSubContact contact-li">
      <a href="#" target="_blank">
        <i class="iconfont icon">&#xe603;</i>
      </a>
      <div class="J_SubContact sub-contact wechat">
        <div class="qr">
          <div class="hd">微信公众号</div>
          <div class="bd">
            <img src="{{staticPrefix}}/img/gzh-qr.png"
            width="180" height="180" alt="">
          </div>
        </div><div class="qr">
          <div class="hd">客服微信</div>
          <div class="bd">
            <img src="{{staticPrefix}}/img/kf-qr.png"
            width="180" height="180" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="contact-li">
      <a href="http://www.weibo.com/" target="_blank">
        <i class="iconfont icon">&#xe605;</i>
      </a>
    </div>
    <div class="contact-li">
      <a href="#" target="_blank">
        <i class="iconfont icon">&#xe662;</i>
      </a>
    </div>
    <div class="J_HasSubContact contact-li">
      <a href="#" target="_blank">
        <i class="iconfont icon">&#xe601;</i>
      </a>
      <div class="J_SubContact sub-contact phone">
        <div class="bd">紧急联系：18650021808</div>
      </div>
    </div>
  </div>
</div>