
<div class="menu-li">
  <a class="bd" href="/">首页</a>
</div>
<div class="J_HasSubMenu menu-li">
  <a class="bd" href="javascript:;">婚礼</a>
  <div class="J_SubMenu sub-menu">
    <ul>
      <li class="sub-menu-li">
        <a class="sub-bd" href="/wedding-photo">照片</a>
      </li>
      <li class="sub-menu-li">
        <a class="sub-bd" href="/wedding-video">视频</a>
      </li>
    </ul>
  </div>
</div>
<div class="menu-li">
  <a class="bd" href="/wedding-dress">婚纱</a>
</div>
<div class="J_HasSubMenu menu-li">
  <a class="bd" href="javascript:;">写真</a>
  <div class="J_SubMenu sub-menu">
    <ul>
      <li class="sub-menu-li">
        <a class="sub-bd" href="/personal">个人</a>
      </li>
      <li class="sub-menu-li">
        <a class="sub-bd" href="/pregnant">孕妇</a>
      </li>
      <li class="sub-menu-li">
        <a class="sub-bd" href="/children">儿童</a>
      </li>
    </ul>
  </div>
</div>
<div class="menu-li">
  <a class="bd" href="/about">关于我们</a>
</div>
